.selectForm-container {
  position: absolute;
  left: 10.2%;
  top: -2%;

}

.select-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 25vh;
}

.select-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3B82F6; /* Electric Blue */
  padding: 10px;
  border-radius: 5px;
  background-color: #121212; /* Deep Navy */
  color: #E0E0E0; /* Light Gray */
}

.select-h1 {
  position: absolute;
  top: 8vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #3B82F6; /* Electric Blue */
  color: #E0E0E0; /* Light Gray */
}

.selectForm-container {
  color: #E0E0E0; /* Light Gray */
}