
h1 {
    position: absolute;
    top: 30%;
    left: 5%;
    color: black;

}

h2 {
    position: absolute;
    top: 40%;
    right: 10%;
    color: black;
    font-size: 40px;
}

p {
    position: absolute;
    top: 12%;
    left: 20%;
    color: black;
    font-size: 23px;
}
