.taskDetail-appContainer {
  color: #E0E0E0;
  margin-top: 12%;
  margin-left: -2%;
  font-size: 1.2em;;
}

.task-details-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 5px;
  padding: 10px;
  border: 1px solid #3B82F6;
  border-radius: 8px;
  background-color: #121212;
  color: #E0E0E0;
}

.taskDetailEditButton {
  grid-column: 1 / span 2;
  padding: 5px;
  background-color: #3B82F6;
  color: #E0E0E0;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  justify-self: center;
}

.taskDetailDeleteButton {
  grid-column: 1 / span 2;
  padding: 5px;
  background-color: #3B82F6;
  color: #E0E0E0;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
  justify-self: center;
}
.taskDetailh1 {
position: fixed;
top: 5%;

}
.task-title {
  grid-column: 1 / span 2;
  font-size: 1.5em;
  font-weight: bold;
  color: #E0E0E0;
}

.task-owner {
  grid-column: 1 / span 1;
  color: #E0E0E0;
}

.task-date {
  grid-column: 2 / span 1;
  text-align: right;
  color: #E0E0E0;
}

.task-text {
  grid-column: 1 / span 2;
  margin-top: 10px;
  color: #E0E0E0;
}

.comment-section {
  margin-top: 20px;
  color: #E0E0E0;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px;
  height: 150px;
  padding: 0;
  box-sizing: border-box;
}

.comment-form textarea {
  resize: none;
  padding: 0;
  border: 1px solid #3B82F6;
  border-radius: 4px;
  font-size: 1em;
  flex-grow: 1;
  height: calc(100% - 40px);
  margin: 0;
  background-color: #121212;
  color: #E0E0E0;
}

.comment-form button {
  width: 100px;
  padding: 10px;
  background-color: #3B82F6;
  color: #E0E0E0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: auto;
}

.comment-form button:hover {
  background-color: #555;
}