body {
  background-color: #121212;
  color: #e0e0e0;
  max-width: 900px;
 
}

.statsList {
  grid-column: span 1;
  border: 1px solid #3b82f6;
  padding: 10px;
}

.oldTasksStats {
  position: relative;
  top: 0;
}
.dashboard-container {
  position: relative;
  top: 10vh;
  left: 1vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  max-width: 900px;
  padding: 20px;
  background-color: #121212;
  margin: 0 auto;
  margin-top: 4%;
}
.task-stats {
  grid-column: span 2;
  display: grid;
  gap: 10px;
}

.listByCategory {
  grid-column: span 1;
  margin-top: 55px;
}

.dashboardh1 {
  font-size: 1.9em;
  position: relative;
  top: -10vh;
  left: 5vw;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  font-style: oblique;
  color: #3b82f6;
  min-width: 5vw;
  white-space: nowrap;
}

.dashboardh2 {
  font-size: 1.9em;
  position: relative;
  top: -2vh;
  left: -20vw;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  font-style: oblique;
  color: #3b82f6;
  min-width: 35vw;
  white-space: nowrap;

}

.dashboardh3 {
  position: relative;
  left: -2%;
  top: 12%;
}

.dashboardh4 {
  position: relative;
  left: -2%;
  top: 38%;
  min-width: 425px;
  white-space: nowrap;
  margin-top: -60px;
}

.listByCategory {
  position: relative;
  top: -15vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.task-grid {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.statsList {
  position: relative;
  top: -5%;
}

.task-item2 {
  border: 1px solid #3b82f6;
  background-color: #1d1d1d;
  color: #e0e0e0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.task-title {
  font-size: 10px;
  color: #e0e0e0;
}
