.signInh1 {
  color: red;
  margin-left: 25%;
  margin-top: 15%;
}

.appcontainerSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.signInFormContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20%;
  padding: 20px;
  border: 1px solid #3b82f6;
  border-radius: 8px;
  background-color: #121212;
  color: #e0e0e0;
}

.signInFormStyle {
  display: contents;
  margin-bottom: 10px;
}

.signInFormStyle label {
  font-weight: bold;
  align-self: center;
}

.signInFormStyle textarea {
  resize: none;
}

.signInStyle button {
  grid-column: 1 / span 2;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-self: center;
}

.signIntyle button:hover {
  background-color: #555;
}



.SignIn-Form-Fields {
  color: red;
  padding: 10px;
}

.SignIn-Form-Fields2 {
  color: red;
  padding: 10px;
  margin-bottom: 10px;;
}
.signInLabel {
  color: red;
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 5pz;
}
.signInLabel {
  color: red;
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 5pz;
}

.signInLabel2 {
  color: red;
  font-size: 1.2em;
  padding: 10px;
}

.SignInButton,
.CancelButton,
.CancelButton2,
.SignUpButton {
  grid-column: 2 / span 2;
  padding: 10px;
  gap: 20px;
  margin: 5px;
  background-color:#0a2a1f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-self: center;
  border-color: #3B82F6;
  border-width: 1px; /* Adjust the width to your preference */
  border-style: solid; /* Choose the border style (e.g., solid, dashed, dotted) */
  
}

.SignInButton {
  margin-right: 4px;
}
