.task-list-container {
position: relative;
right: 29%;

}

.task-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-top: 2%;
  max-width: 800px;
}

.task-item {

  border: 1px solid #3B82F6;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #E0E0E0;
}

.task-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 
}

.task-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
  color: #E0E0E0;
}

.taskListh1 {
  position: fixed;
  margin-top: -15vh;
  font-size: 40px;
  color: #E0E0E0;
  max-width: 800px;
  left: 43vw;
}

.task-owner,
.task-date,
.task-text {
  margin-bottom: 2px;
  color: #E0E0E0;
}

nav {
  margin-bottom: 20px;
  position: fixed;
  top: -2%;
  left: -2%;
  align-items: center;
  padding: 0 10px;
  color: #E0E0E0;
}

.task-category {
  margin-bottom: 20px;
}

.task-category-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #3B82F6;
}

.task-list-content {
margin-top: 20%;

}