.task-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-top: 25vh;
  max-width: 800px;
}

.task-item {
  background-color: #0a2a1f; 
  border: 1px solid #3B82F6; 
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.task-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.task-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.taskListh1 {
position: fixed;
margin-top: -15vh;
font-size: 40px;
color: #E0E0E0;
max-width: 800px;
left: 43vw;
}

.task-owner,
.task-date,
.task-text {
  margin-bottom: 2px;
}

nav {
  margin-bottom: 20px;
  position: fixed;
  top: -2%;
  left: -2%;
  align-items: center;
  padding: 0 10px;
}
